<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oreo.BusReservation.mapper.AdminMapper">
    <select id="selectedAdmin" resultType="com.oreo.BusReservation.domain.Administrator">
        SELECT *
          FROM Administrator
         WHERE id = #{id}
    </select>

    <select id="insertAdmin" parameterType="com.oreo.BusReservation.domain.Administrator">
        INSERT
          INTO Administrator(admin_id, admin_pw)
        VALUES (
               #{admin_id},
               #{admin_pw}
               )
    </select>

    <update id="updateAdmin" parameterType="com.oreo.BusReservation.domain.Administrator">
        UPDATE Administrator
           SET admin_pw = #{admin_pw}
         WHERE admin_id = #{admin_id}
    </update>

    <delete id="deleteAdmin" parameterType="int">
        DELETE
          FROM Administrator
         WHERE id = #{id}
    </delete>

</mapper>