<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oreo.BusReservation.mapper.TicketMapper">
    <select id="selectedTicketList" resultType="com.oreo.BusReservation.domain.Ticket">
        SELECT *
          FROM Ticket
         WHERE member_id = ${memberId}
    </select>

    <select id="selectedTickets" resultType="com.oreo.BusReservation.domain.TicketDetail">
        SELECT *
        FROM Ticket AS T INNER JOIN Bus AS B
        ON B.id = T.bus_id
        WHERE T.member_id = #{member_id}
    </select>

    <insert id="insertTicket" parameterType="com.oreo.BusReservation.domain.Ticket">
        INSERT INTO Ticket(bus_id,member_id,info) VALUES(
            #{bus_id},
            #{member_id},
            #{info}
        )
    </insert>

    <select id="countTicket" resultType="int">
        SELECT COUNT(*)
        FROM Ticket
        WHERE bus_id = #{bus_id}
    </select>

    <select id="ticketDetail" resultType="com.oreo.BusReservation.domain.TicketDetail">
        SELECT *
        FROM Ticket AS T INNER JOIN Bus AS B
        ON B.id = T.bus_id
        WHERE T.id = #{id}
    </select>

</mapper>